.full-card {
    margin-right: 30px;
    align-content: center;
    background-color: white;
    border-radius: 10px;
   
}
.class-card{
    height: 480px ;
    width: 380px;
    margin: 10px;
    border-radius: 20px;
   
}
.student {
    font-weight: bold;
    margin-right: auto;
    padding: 10px;
}
.fee {
    font-weight: bold;
    padding:10px;

}
